<!DOCTYPE html>
<html>
  <head>
    <title>IPU軽音予定</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="sp-menu">
      <h2>MENU</h2>
      <ul>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </li>
        <li><%= link_to "予定追加", new_event_path %></li>
      </ul>
    </div>
    <header>
      <div class="container">
        <div class="header-contents">
          <div class="header-left">
            <h1 class="header-logo">
              <%= link_to root_path,  "data-turbolinks": false do %>
                <%= image_tag 'logo_transparent.png', class:"logo-img" %>
              <% end %>
            </h1>
          </div>
          <div class="header-right">
            <ul class="header-nav">
            <% unless admin_signed_in? %>
              <li>
                <%= link_to "ログイン", new_admin_session_path, class: 'btn btn-login' %>
              </li>
            <% else %>
              <div id="hm-icon">
                <a class="menu-trigger" href="#">
                  <span></span>
                  <span></span>
                  <span></span>
                </a>
              </div>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
